canvas{
    margin: 8px;
}

.transition{
    display: inline-block;
    position: relative;
}

#battle-activate{
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}

#interface{
    background-color: white;
    border-top: 4px;
    border-top-color: black;
    border-top-style: solid;
    opacity: 0;
    height: 150px;
    position: absolute;
    bottom: 5px;
    right: 0;
    left: 0;
    margin: 8px;
}

#attacks{
    width: 700px;
}